## Data Types and Structures Questions

1. What are data structures, and why are they important ?
-> A data structure is a way of organing and storing data so that it can be accessed and used efficiently.                                                    
It is impotant because of its efficiency, Problem solving skill and they make the code easier to understand.

 2. Explain the difference between mutable and immutable data types with examples.                                         
  -> . Mutable Data Types - These are data types whose values can be modified after they are created. Examples: List, dictonary, Set.

      .Immutable Date Types - These are data types whose values cannot be altered once they aye set. Examples: String, Tuple.

3.  What are the main differences between lists and tuples in Python?           
    -> Lists:
        It is mutable. Their elements can be modified after creation. We can add, remove, or change items in a list.
      Tuples:
         It is immutable. Their elements can not be changed once the tuples is created. We can not add,remove, or modifiy itemsin a tuple.

   4. Describe how dictionaries store data.                
       -> Dictionaries in Python store data as a key-value pairs. Each key acts as a unique identifier for its associated value. This stucture allows for efficient retrieval of values based on their corresponding keys.

   5. Why might you use a set instead of a list in Python?           
     ->  Because sets cannot have multiple occurrences of the same element, it makes sets highly useful to efficently remove duplicate values from a list or tuple and to perform common maths operations like union and intersections.

 6.  What is a string in Python, and how is it different from a lists ?       
    -> A string is a sequence of characters between single or double quotes.    
       A list is a sequence of items, where each item could be anything(an integer,a float,a string, etc).

 7.  How do tuples ensure data integrity in Python?       
     -> Tuples in Python ensure data integrity primarily through their immutability. Once a tuple is created, its elements can not be modified, added, or removed.

  8.  What is a hash table, and how does it relate to dictionaries in Python?    
     -> A hash table is a data structure that stores key-value pairs. In Python, dictionaries are implemented using hash table.

  9. Can lists contain different data types in Python?                 

    -> yes, lists can contain  heterogeneous data types and objects.

 10. Explain why strings are immutable in Python?     
  -> Strings in Python are "immutable" which means they can not be changed after they are created. Strings are made immutable so that programmers cannot alter the contents of object. This avoids unnecessary bugs.

  11.  What advantages do dictionaries offer over lists for certain tasks?      
     -> Dictionaries excel in tasks involving fast data retrieval, key-value association, and complex data mappings, while lists are better suited for ordered collections, sequential processing, and simpler data storage.

12. Describe a scenario where using a tuple would be preferable over a lists.      
  -> When we store the day of the week,we store it in tuple instead of list.
     These values are fixed and using tuoles will prevent accidental modify.

  13.How do sets handle duplicate values in Python?            
   -> In Python, sets are designed to store only unique elements. When we attempt to add a duplicate value to a set, it simply ignores the duplicate and retains only one instance of that value.

 14.  How does the “in” keyword work differently for lists and dictionaries?    
     ->  The "in" keyword inPython operates differently for lists and dictionaries.         
     Lists:
       . When used with a list, the "in" keyword checks if specified value exists as an element within the list by iterating through each element.    
   Dictionaries:
       .When used with a dictionary, the "in" keyword checks if the specified value exists as a key within the dictionary.

 15. Can you modify the elements of a tuple? Explain why or why not.    
     ->  No, We can not directly modify the elements of a tuple in Python. As tuple are immutable their contents cannot be changed after creation.

  16.  What is a nested dictionary, and give an example of its use case?    
      -> A nested dictionary is a dictionary where at least one of the values is itself a dictionary.        

       Example:
        Consider represnting employee information. We might have dictionary where the keys are empolyee IDs, and the values are dictionaries containing the empolyee's name, address, and other details.    
      Use Cases:       

      .Represnting hierarchial data     
      
      .Organizing Inventory.

 17.  Describe the time complexity of accessing elements in a dictionary.    
      -> The time complexity of inserting an element in dictionary is typically 0(1). This is because dictionaries use hash table internally which allows constant time lookup.

: 18. In what situations are lists preferred over dictionaries ?    
      -> Lists are preferred over dictionaries in situations where maintaining the order of element is important, or when elements are accessed based on their numerical index.

 19.  Why are dictionaries considered unordered, and how does that affect data retrieval?       
  -> Dictionaries are considered unordered becaue they do not store items in a specific sequence based on their insertion order.

   20.  Explain the difference between a list and a dictionary in terms of data retrieval.           
     -> In data retrieval, lists and dictionaries differ fundatementally.
      Lists are accessed by numerical indices (starting from 0), while dictionaries are accessed via unique keys.

# Practical Questions

In [ ]:
# 1. Write a code to create a string with your name and print it.
name = "minkle"
print(name)

minkle

In [ ]:
# 2.  Write a code to find the length of the string "Hello World".
string ="Hello World"
len = len(string)
print(len)

11

In [ ]:
# 3.  Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

In [ ]:
 # 4. Write a code to convert the string "hello" to uppercase.
 text = "hello"
 upper_case = text.upper()
 print(upper_case)

HELLO

In [ ]:
 # 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
new_text = text.replace("apple","orange")
print(new_text)

I like orange

In [ ]:
 # 6. Write a code to create a list with numbers 1 to 5 and print it.
 my_list = [1,2,3,4,5]
 print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
 # 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
 my_list = [1,2,3,4]
 my_list.append(10)
 print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
 # 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
 my_list = [1,2,3,4,5]
 my_list.remove(3)
 print(my_list)

[1, 2, 4, 5]

In [ ]:
 # 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
 my_list = ['a','b','c','d']
 second_element = my_list[1]
 print(second_element)

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
Original_list = [10, 20, 30, 40, 50]
Reversed_list = Original_list[::-1]
print(Reversed_list)

[50, 40, 30, 20, 10]

In [ ]:
 # 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
 my_tuple = (100,200,300)
 print(my_tuple)

(100, 200, 300)

In [ ]:
 # 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
 colors = ('red', 'green', 'blue', 'yellow')
 second_to_last = colors[-2]
 print(second_to_last)

blue

In [ ]:
# 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10,20,5,15)
minimum = min(my_tuple)
print(minimum)

5

In [ ]:
 # 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
 my_tuple = ('dog', 'cat', 'rabbit')
 index_of_cat = my_tuple.index('cat')
 print(index_of_cat)

1

In [ ]:
 # 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
 fruits_tuple = ("apple","banana","orange")
 if "kiwi" in fruits_tuple:
  print(f"kiwi is in the tuple")
 else:
  print(f"kiwi is not in the tuple")

kiwi is not in the tuple

In [ ]:
 # 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
 my_set = {'a','b','c'}
 print(my_set)

{'c', 'a', 'b'}

In [ ]:
 # 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
 my_set = {1,2,3,4,5}
 my_set.clear()
 print(my_set)

set()

In [ ]:
 # 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
 my_set = {1,2,3,4}
 my_set.remove(4)
 print(my_set)

{1, 2, 3}

In [ ]:
 # 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
 set1 = {1,2,3}
 set2 = {3,4,5}
 union_set = set1 | set2
 print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
 # 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
 set1 = {1,2,3}
 set2 = {2,3,4}
 intersection_set = set1 & set2
 print(intersection_set)

{2, 3}

In [ ]:
 # 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
 my_dict = {"name":"minkle","age":25,"city":"giridih"}
 print(my_dict)

{'name': 'minkle', 'age': 25, 'city': 'giridih'}

In [ ]:
 # 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
 my_dict = {'name': 'John', 'age': 25}
 my_dict["country"] = "USA"
 print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
 # 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
 my_dict = {'name': 'Alice', 'age': 30}
 name_value = my_dict["name"]
 print(name_value)

Alice

In [ ]:
 # 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
 my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
 del my_dict["age"]
 print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
  print(f"city is in the dictionary")
else:
  print(f"city is not in the dictionary")

city is in the dictionary

In [ ]:
 # 26.  Write a code to create a list, a tuple, and a dictionary, and print them all.
 my_list = [1,2,3,4,5]
 my_tuple = (4,5,6,"cat","dog")
 my_dict = {"name":"minkle","age":25,"city":"giridih"}
 print(my_list)
 print(my_tuple)
 print(my_dict)

[1, 2, 3, 4, 5]
(4, 5, 6, 'cat', 'dog')
{'name': 'minkle', 'age': 25, 'city': 'giridih'}

In [ ]:
 # 27. write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1,100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[26, 36, 47, 48, 69]

In [ ]:
 # 28. Write a code to create a list with strings and print the element at the third index.
 string_list = ["apple","banana","orange","kiwi","mango"]
 third_element = string_list[2]
 print(third_element)

orange

In [ ]:
 # 29. Write a code to combine two dictionaries into one and print the result.
dic_a = {'a':1,'b':2}
dic_b = {'c':3,'d':4}
combined_dic = dic_a | dic_b
print(combined_dic)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
 # 30. Write a code to convert a list of strings into a set.
 string_list = ["apple","banana","orange","kiwi","mango"]
 string_set = set(string_list)
 print(string_set)

{'banana', 'apple', 'kiwi', 'mango', 'orange'}